.nav{
    display: flex;
    justify-content:space-between;
    align-items: flex-start;
    background-color: rgb(55, 51, 51);
}

ul{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 50%;
    color: rgb(164, 158, 158);

}

li{
    display: inline-block;
    text-decoration: none;
}

.active :hover{
    color: white;
}

.nav-title{
    color: white;
}